<!DOCTYPE html>
<html lang="ch">
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/background.css' %}">
    <link rel="shortcut icon" href="{%static 'image/favicon.ico' %}" />
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<div id="background"><div id="content">
    <div id="welcome">
        <h2>{{welcome}}</h2>
        <h4>{{weather}}</h4>
        <h4>{{location}}</h4>
    </div>
    <div id="login">
        <script src="https://cdn.bootcdn.net/ajax/libs/jsencrypt/3.2.1/jsencrypt.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/jsencrypt/3.2.1/jsencrypt.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{%static 'js/login.js'%}"></script>
        <form method="post" id="form">
            {%csrf_token%}
            <br/><br/>
            <input type="text" class="text" placeholder="用户名" id="username" name="username" required>
            <br/><br/>
            <input type="password" class="text" placeholder="密码" id="pwd" name="password" required>
            <br/><br/>
            <input type="button" class="button" value="登录" onclick="action='/user/login/';do_login()">
            <input type="button" class="button" value="注册" onclick="action='/user/register/';do_register()">
            <input type="hidden" value="{{pub_key}}" id="pubkey">
        </form>
    </div>
</div></div>
</body>
</html>